<div class="main-wrapper">
    <button class="add-person" (click)="addPerson()">Incluir uma nova pessoa</button>
    <table mat-table [dataSource]="persons">
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columns"></tr>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let person"> {{person.name}} </td>
        </ng-container>
        <ng-container matColumnDef="cpf">
            <th mat-header-cell *matHeaderCellDef> CPF </th>
            <td mat-cell *matCellDef="let person"> {{person.cpf}} </td>
        </ng-container>
        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef> Telefone </th>
            <td mat-cell *matCellDef="let person"> {{person.phone}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> E-mail </th>
            <td mat-cell *matCellDef="let person"> {{person.email}} </td>
        </ng-container>
        <ng-container matColumnDef="cep">
            <th mat-header-cell *matHeaderCellDef> CEP </th>
            <td mat-cell *matCellDef="let person"> {{person.cep}} </td>
        </ng-container>
        <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let person"> {{person.state}} </td>
        </ng-container>
        <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef> Cidade </th>
            <td mat-cell *matCellDef="let person"> {{person.city}} </td>
        </ng-container>
        <ng-container matColumnDef="street">
            <th mat-header-cell *matHeaderCellDef> Rua </th>
            <td mat-cell *matCellDef="let person"> {{person.street}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Ações </th>
            <td mat-cell *matCellDef="let person">
                <p class="action" (click)="editPerson(person)">Editar</p>
                <p class="action" (click)="deletePerson(person)">Remover</p>
            </td>
        </ng-container>
    </table>
</div>